@{
    ViewData["Title"] = "SolverError";
}

<div class="container">
    <div class="row my-5">
        <h1 class="text-center" style="color: red">Error! Проверьте ввод исходных данных и повторите действия</h1>
    </div>

    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="@Url.Action("Index", "Home")" class="btn btn-info w-100" type="button">Назад</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>