@{
    ViewData["Title"] = "Результаты расчёта раскроя";
}
@model ResultsViewModel

<form asp-action="Report" asp-controller="Home" method="get">
    <div class="container">
        <div class="text-center">
            <h2>Решение задачи минимизации отходов от раскроя рулонных заготовок</h2><br>
            <h3>Расчетные показатели</h3>
        </div>



    </div>

</form>